
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Menu
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

    <a class="dropdown-item" href="image">Page d'accueil</a>
    <a class="dropdown-item" href="http://localhost:4200/list_voitures">Liste des voitures</a>
    <a class="dropdown-item" href="http://localhost:4200/list_personnes"> Liste des personnes</a>
    <a class="dropdown-item" href="http://localhost:4200/voiture">Ajouter une voiture</a>
    <a class="dropdown-item" href="http://localhost:4200/personne">Ajouter une personne</a>
    <a class="dropdown-item" href="http://localhost:4200/parking">Ajouter un parking</a>
    <a class="dropdown-item" href="http://localhost:4200/affecter">Affecter une voiture à une personne </a>
    <a class="dropdown-item" href="http://localhost:4200/affecterParkingVoiture">Affecter un parking à une voiture </a>
    <a class="dropdown-item" href="http://localhost:4200/choixParking">Choix d'un parking</a>
  </div>
</div>






<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:4200/list_voitures">Liste de voiture </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:4200/list_personnes">Liste de personnes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:4200/voiture">Ajouter une voiture</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:4200/personne">Ajouter une personne</a>
          </li>
      </ul>
      
    </div>
  </nav> -->
  