

<table class="table">
    <thead class="thead-dark">
        <th>idVoiture</th>
        <th>Matricule</th>
        <th>Marque</th>
        <th>Propriétaire</th>
        <th>Couleur</th>
        <th>Carburant</th>
        <th>Puissance fiscale</th>
        <th>Vehicule hybride</th>
        
    </thead>

    <tbody>
        <tr *ngFor="let voiture of listVoiture">
            <td>{{voiture.idvoiture}}</td>
            <td>{{voiture.matricule}}</td>
            <td>{{voiture.marque}}</td>
            <td>{{voiture.proprietaire}}</td>
            <td>{{voiture.couleur}}</td>
            <td>{{voiture.carburant}}</td>
            <td>{{voiture.puissance_fiscale}}</td>
            <td>{{voiture.vehicule_hybride}}</td>
        </tr>
    </tbody>
</table>
