
           <table class="table">
            <thead class="thead-danger">
                <th>idPersonne</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Age</th>
                <th>Adresse</th>
                <th>Indicatif</th>
                <th>Telephone</th>
                <th>Mail</th>
            </thead>

            <tbody>
                    <td>{{personne.idpersonne}}</td>
                    <td>{{personne.nom}}</td>
                    <td>{{personne.prenom}}</td>
                    <td>{{personne.age}}</td>
                    <td>{{personne.adresse}}</td>
                    <td>{{personne.indicatif}}</td>
                    <td>{{personne.telephone}}</td>
                    <td>{{personne.mail}}</td>
                   
            </tbody>
        </table>
           
           
           
    